$bgColor = #00bcd4
$darkTextColor = #333

//高度设置
$headerHeight = 80px
$headerInputHeight = 60px

// 字体图标大小
$icon-font-size-l = 50px
$icon-font-size-lx = 46px
$icon-font-size-m = 42px
$icon-font-size-mx = 38px
$icon-font-size-s = 34px
$icon-font-size-sx = 30px

//字体大小
$font-size-l = 40px
$font-size-lx = 36px
$font-size-lx = 34px
$font-size-m = 30px
$font-size-mx = 26px
$font-size-s = 24px
$font-size-sx = 22px

//字体颜色
$font-color1 = #FF8C00
$font-color2 = #FF5555
$font-color3 = #00BCD4

//背景颜色
$bgColor1 = #FFF9F9
$bgColor2 = #F5F5F5
$bgColor3 = #00BCD4
$bgColor4 = #F6F6F6
$bgColor5 = rgba(0,188,212,1)
